.container {
  padding-left: $side-padding-pc;
  padding-right: $side-padding-pc;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;

  @include media(w768) {
    padding-left: $side-padding-mobile;
    padding-right: $side-padding-mobile;
  }
}

.container-inner {
  padding-left: 0;
  padding-right: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: $container-inner-max-width;

  @include media(w1366) {
    padding-left: $side-padding-pc;
    padding-right: $side-padding-pc;
  }

  @include media(w1024) {
    padding-left: $side-padding-pc + 20px;
    padding-right: $side-padding-pc + 20px;
  }

  @include media(w500) {
    padding-left: 0;
    padding-right: 0;
  }
}