* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @include h4;
  font-family: $default-font;
  position: relative;
  min-width: 320px;
  @include media(w768) {
    @include h5;
  }
}

.security-link {
  border-bottom: 1px solid currentColor;

  &:hover {
    color: $yellow-main;
  }
}