$trans: all 0.3s ease;
$default-font: "Calibri", Arial, Helvetica, sans-serif;

$side-padding-pc: 30px;
$side-padding-mobile: 15px;
$max-width: 1200px;
$container-inner-max-width: 1000px;

$header-max-height-pc: 200px;
$header-max-height-tablet: 150px;
$header-mt-pc: 30px;
$header-mt-mobile: 30px;

$post-img-size: 100px;

$yellow-main: #BEDD00;

$gray-darkest: #0a0911;