extends templates/layout

block vars
	- var title = "Khumo - Новости";

block content
	div.content.content_news
		div.content__intro.content__intro_news
			div.news__bg
			include components/header
			div.news__wrap
				div.container
					div.container-inner
						div.posts.posts_action.js-news
			include components/footer