footer.footer
	div.container.footer__container
		div.footer__item
			p.footer__title.
				© Khumo, 2019.
		div.footer__item.footer__item_right
			p.footer__title
				a(href="tel:" + phoneAttr).footer__link.
					#{phone}
			p.footer__text.
				Минздрав предупреждает, курение опасно для Вашего здоровья.