include ./link

-
  const socialList = [
  ["instagram", "https://www.instagram.com/prodymani/"],
  ["vk", "https://vk.com/pro_kalyany"],
  ["telegram", ""],
  ["whatsapp", "whatsapp://send?phone=79061118460"],
  ["phone-square", "tel:" + phoneAttr]];

header.header
  div.container.header__container
    div.header__logo
      a(href="/").header__logo-link
        img(src="img/logo.png", alt="").header__logo-img
    div.header__social
      ul.header__social-list
        each item in socialList
          li.header__social-item
            a(href=item[1] target=(item[0] === "phone-square") ? "" :"_blank").header__social-link
              i(class="fa fa-" + item[0])
      a(href="tel:" + phoneAttr).header__info-phone.
        #{phone}
    div.header__info
      div.header__info-buttons
        +link(href="#actions").js-scroll-link.
          Новости
        //- a(href="#actions").header__info-btn.js-scroll-link.
        //-   Новости