doctype html

- var title = 'Khumo';
- var phone = '8 (846) 2-534-534';
- var phoneAttr = '88462534534';

block vars
    
html
    head
        meta(charset="utf-8")
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
        title #{title}
        link(rel="icon" type="image/png" href="./img/favicon.png" sizes="16x16")
        link(rel="stylesheet", href="styles/main.css")
        block scripts
    body
        include ../components/svg
        block content
        script(src="scripts/app.js")
